*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    height: 4rem;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    background-color: black;
    
}
nav>div>ul{
    display: flex;
      align-items: center;  
    list-style: none;
    gap: 2rem;
    margin-top: .6%;
}
nav>div>ul>li{
    color: aliceblue;
    font-size: 20px;
    
   
}
#firstleftitem{
    margin-left: 30%;
}
#lastrightitem{
    margin-right: 10rem;
}
#btn{
    padding: 4px; 
    border-radius:20%;
    width: 90px;
}
.card-body{border-radius:5%;
  

}